:root {
    --primary-color: #99BCC4;
    --lighter-shade: #C9DDE1;
    --darker-shade: #6C999F;
    --lighter-tint: #E2EEF1;
    --darker-tint: #08535D;
    --darkest-tint: #02333C;
}

* {
    box-sizing: border-box;
}
  
body {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
}
  
header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/computer.jpeg);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--lighter-tint);
}

header h1{
    font-size: 40px;
}

header img{
    width: 100px;
    /* need to change the avatar image */
}
  
nav {
    display: flex;
}
  
nav a {
    color: var(--lighter-tint);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: var(--darker-shade);
}
  
main {
    display: flex;
    flex-wrap: wrap;
}
  
aside {
    flex: 1;
    padding: 20px;
    text-align: end;
    font-size: 24px;
    color: var(--darker-tint);
    border-right: 2px solid;
}
  
section {
    flex: 3;
    padding: 20px;
}

.sub-header {
    font-size: 16px;
    color: var(--lighter-shade);
    background-color: var(--darker-tint);
    text-align: end;
    height: 100px;
}

.about-me {
    font-size: 16px;
    color: var(--darker-shade);
}
  
.products {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    padding: 10px;
    flex: 0 0 450px;
}
  
.card h3 {
    padding: 20px;
    text-align: center;
}
  
.card p {
    text-align: center;
}
  
.card img {
    width: 100%;
    height: ;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    padding: 14px 20px;
    text-align: center;
    justify-items: space-between;
}

.contact-info h3 {
    color: var(--darker-tint);
}

.contact-info a {
    color: var(--darker-shade);
}
  
footer {
    padding: 20px;
    text-align: center;
    background: var(--darkest-tint);
    color: var(--primary-color);
}
  
@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column-reverse;
    }

    aside {
      order: 2;
    }
 
}
  