:root {
    --primary-color: #99BCC4;
    --lighter-shade: #C9DDE1;
    --darker-shade: #6C999F;
    --lighter-tint: #E2EEF1;
    --darker-tint: #08535D;
    --darkest-tint: #02333C;
}

* {
    box-sizing: border-box;
}
  
body {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 0;
}
  
header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/computer.jpeg);
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: var(--lighter-tint);
}

header h1{
    font-size: 40px;
}

header img{
    width: 100px;
    /* need to change the avatar image */
}
  
nav {
    display: flex;
}
  
nav a {
    color: var(--lighter-tint);
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: var(--darker-shade);
}
  
aside {
    flex: 1;
    padding: 20px;
    text-align: end;
    font-size: 24px;
    color: var(--darker-tint);
    border-right: 2px solid;
}
  
section {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    padding: 20px;
}

.sub-header {
    font-size: 16px;
    color: var(--lighter-shade);
    background-color: var(--darker-tint);
    justify-content: flex-end;
    text-align: right;
    height: 100px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    flex: 3;
    padding: 20px;
    font-size: 16px;
    color: var(--darker-shade);
}
  
.products {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.card {
    padding: 10px;
    flex: 0 0 450px;
}

#primary-card {
    width: 700px; 
}

.button {
    background-color: var(--lighter-shade);
    color: var(--darker-tint);
    padding: 25px 50px;
    border: none;
    cursor: pointer;
}

.button-img {
    background: none;
    border: none;
    cursor: pointer;
    text-align: start;
    position: relative;
    display: inline-block;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.button-img:hover {
    opacity: 1;
}

.name {
    background-color: var(--primary-color);
    color: var(--darker-tint);
    padding: 25px 50px;
    position: absolute;
    top: 50%;
    left: 0;
}

button img {
    width: 450px;
}

.card img {
    width: 100%;
}

.contact-info {
    flex: 3;
    padding: 14px 20px;
    text-align: center;
}

.contact-info nav {
    justify-content: space-between;
}

.contact-info h3 {
    color: var(--darker-tint);
}

.contact-info a {
    color: var(--darker-shade);
}
  
footer {
    padding: 20px;
    text-align: center;
    background: var(--darkest-tint);
    color: var(--primary-color);
}
  
@media screen and (max-width: 767px) {
    .sections{
        flex-direction: column;
        align-items: center;

    }

    aside {
        border: none;
        border-bottom: 2px solid;
    }

    .products {
      flex-direction: column; 
      align-items: center; 
    }
  
    .card {
      width: 100%;
    }
  
    #primary-card {
      width: 100%;
    }
  }  